$color-white: #FFF;
$color-yellow: #FFF500;
$color-mercury-approx: #E9E9E9;
$color-mercury-solid: #E5E5E5;
$color-silver-lighten: #CACACA;
$color-silver: #C4C4C4;
$color-dusty-gray: #999999;
$color-dove-gray: #666666;
$color-tundora: #4A4A4A;
$color-very-dark-gray: #333;
$color-mine-shaft: #202020;
$color-pickled-bluewood: #223444;
$color-romantic: #FFD4C1;
$color-burning-orange: #FF6E30;
$color-burnt-sienna: #F06666;
$color-tuscany: #BC572B;
$color-grenadier: #CE4307;
$color-red-orange: #FF3030;
